<div class="container">
<div class="bloc-600 text-center mx-auto">
  <h4>Modifier mes informations</h4>
<br>
<br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mb-4' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

       <div class="field">
      <%= f.label :nouveau_mot_de_passe %> <br/><i>(Laisser blanc si vous ne souhaitez pas le changer)</i><br>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
          <br>
    </div>


    <div class="field">
      <%= f.label :confirmation_du_mot_de_passe %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
      <br>
    </div>

    <div class="field">
      <%= f.label :mot_de_passe_actuel %> <br /><i>(pour valider les changements)</i> <br>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control'%>
    </div>

    <div class="actions">
      <br>
      <%= f.submit "Enregistrer les modifications", class: 'btn btn-primary' %>
    </div>
  <% end %>



  <h3 class="mt-5">Supprimer mon compte</h3>

  <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-primary' %></p>
<br>
<br>
  <%= link_to "Retour à l'accueil", :back %>
</div>
</div>
