<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Voici un résumé de ta commande n° <%= @order.id %> : </h2>
    <p>Salut à toi <%= @order.user.first_name %> et merci d'avoir passé une commande sur Kitten-Shop !</p>
    <p>Voici tes achats :<br>
<% @cart = Cart.find_by(user_id:@user)%>


    <%@cart_items = CartItems.where(cart_id:@cart)%>

      <% @cart_items.each do |item| %>
        
          <strong><%= item.item.name %></strong>, <%= item.item.description %>
          <p><%= item.item.image_url %></p>

        <hr>
      <% end %>
    <br>
    <h3>Bisous</h3>
  </body>
</html>
