<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut à toi <%= @order.user.first_name %> et merci d'avoir passé une commande sur Kitten-Shop !</h1>
    <h2>Voici un résumé de ta commande n° <%= @order.id %> : </h2>
      Voici :
      <%= @order_items.name %>
      <%= @order.order_items.each do |item| %>
        <%= item.name %>
      <% end %>
    <p>Pour accéder à ton espace client, connecte-toi via : lul.</p>
  </body>
</html>
