<%
=begin%>
 <h1><%= @current_user.first_name %> <%= @current_user.last_name %>'s profile</h1>

    <div class="col-6">
      <div class="container">
      <div class="border mb-5 p-5">
        <h2 class="h3">Espace personnel</h2>
        <hr>
        <!-- <div class="d-inline-block rounded-circle overflow-auto mb-4" style="height: 200px; width: 200px;"></div> -->
        <h4>Prénom : <%= @user.last_name %></h4>
        <h4>Nom : <%= @user.first_name %></h4>
        <h4>Email : <%= @user.email %></h4>
        <h5>Avatar actuel</h5>
        <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar' %>
        <%else%>
          <p>Avatar indisponible</p>
        <%end%>
        <%= link_to "Modifier mes informations", edit_user_registration_path, class:"btn btn-outline-primary m-5 " %>
        </div>
      </div>
    </div>
  </div>
</main>
<%
=end%>


<h1>Page Profil</h1>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <%=  image_tag 'default_avatar.jpg'%>
<%end%>


<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>
<br>
<br>
<br>
<h3>Mes commandes</h3>
<% @user_order.each do |order| %>
<hr>
  <%= order.created_at %><br>
  <% @order_items = OrderItem.where(order_id:order.id) %>
  <% @order_items.each do |item|%>
    <%= item.item.name %><br>
    <%= item.item.description %><br>
    <%= item.item.price %><br>
  <%end%>

<%end%>
<hr>
