<%
=begin%>
 <h1><%= @current_user.first_name %> <%= @current_user.last_name %>'s profile</h1>

    <div class="col-6">
      <div class="container">
      <div class="border mb-5 p-5">
        <h2 class="h3">Espace personnel</h2>
        <hr>
        <!-- <div class="d-inline-block rounded-circle overflow-auto mb-4" style="height: 200px; width: 200px;"></div> -->
        <h4>Prénom : <%= @user.last_name %></h4>
        <h4>Nom : <%= @user.first_name %></h4>
        <h4>Email : <%= @user.email %></h4>
        <h5>Avatar actuel</h5>
        <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar' %>
        <%else%>
          <p>Avatar indisponible</p>
        <%end%>
        <%= link_to "Modifier mes informations", edit_user_registration_path, class:"btn btn-outline-primary m-5 " %>
        </div>
      </div>
    </div>
  </div>
</main>
<%
=end%>

<div class="container">
<h1>Page Profil</h1>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <%=  image_tag 'default_avatar.jpg'%>
<%end%>


<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>
<br>
</div>



<div class="px-4 px-lg-0">


  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

    <h2 class="mb-5">Toutes mes commandes</h2>


          
              

                
                 <% @user_order.each do |order| %>
                 <!-- Shopping cart table -->
                           <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light col-7">
                    <div class="p-2 px-3 text-uppercase">Commande du <%= order.created_at %></div>
                  </th>
                  <th scope="col" class="border-0 bg-light col-5">
                    <div class="py-2 text-uppercase">
                    
                      


                    </div>
                  </th>
                </tr>
              </thead>
                 <tbody>
                 
    <% @order_items = OrderItem.where(order_id:order.id) %>

                <% @order_items.each do |item|%>
                <tr>
                            <th scope="row" class="border-0 col-7">  
                              <div class="p-2">
                                <%= image_tag(item.item.image_url, :alt => item.item.name, :class =>"img-fluid rounded shadow-sm thumb-profil", style: "width='70'")  %>        
                                <div class="ml-3 d-inline-block align-middle">
                            
                                  <h5 class="mb-0"> <p class="text-dark d-inline-block align-middle"> <%= item.item.name %> <br> 
                                  <small><%= item.item.description %></small><br /></p></h5>
                                </div>
                              </div>
                            </th>
                            <td class="border-0 align-middle col-5" style="min-width: 9rem"><strong><%= item.item.price %>€<br /></strong></td>
                          
                          
                          </tr>
                          
                          <%end%>
                          <td colspan="2"><% total = 0 %>
                          <% @order_items.each do |item|%>
                          <% total = item.item.price + total %>
                <%end%>
                          <strong>TOTAL : <%= total%> €</strong>
                          </td>
                          
</tbody>
                          
                 <%end%> 
                
              
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      </div>

    </div>
  </div>
</div>

