<%
=begin%>
 <h1><%= @current_user.first_name %> <%= @current_user.last_name %>'s profile</h1>

<main class="container">
<div class="card" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email : <%= @current_user.email %></li>
  </ul>
</div>
  <div style="margin-top: 20px;"><%= link_to "Back home", root_path, :class => "btn btn-info" %></div>

  <div>
    <h3>Avatar</h3>
    <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar' %>
        <%else%>
          <p>Oui oui</p>
        <%end%>

  </div>
</main> 
<%
=end%>


<h1>Page Profil</h1>

<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user.id%></p>
<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <%=  image_tag 'default_avatar.jpg'%>
<%end%>


<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>