

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">

              <%
=begin%>
 <%= link_to "#{image_tag(i.img_link, :alt =>  "alt text", :class =>"card-img-top")}".html_safe, item_path(i.id) %>
<%
=end%>

              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to "#{i.name}", item_path(i.id) %>
                </h4>
                <h5><%= "#{i.price}" %></h5>
                <p class="card-text"><%= "#{i.description}" %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small><br>
                <%= link_to "Voir les détails", item_path(i.id) %><br>
                <%= link_to "Ajouter au panier", {:controller => :cart_items, :id => i.id, :action => :create }, :method => :post %> 

              </div>
            </div>
          </div>
