<!DOCTYPE html>
<html>
  <head>
    <title>KittenShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">KITTY_KAT</a>
      <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          Voici ton email : <%= current_user.email %>
        </li>
        <li>
          <%= link_to "Edit email / password", edit_user_registration_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
      <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
